{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.Category) }}

        <button type="submit" class="btn">Neu</button>
    {{ form_end(form) }}
{% endblock %}
