{# templates/notes.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div id="topBar" class="p-3 mb-2 bg-success"></div>
<div id="main" class="row">
    <div id="content" class="col-lg row">
        <div id="editor" class="p-3 mb-2 bg-success col-sm">
            <textarea id="textEditor" class="col-sm"></textarea>
        </div>
        <div id="dragBar" class="p-3 mb-2 bg-danger col-sm"></div>
        <div id="preview" class="col-sm"></div>
    </div>
    <div id="sideBar" class="col-sm">
        <ul class="categories">
            <li class="category">
                <span class="categoryTitle">Kategorie 1</span>
                <ul class="subCategories">
                    <li>
                        <span>Test1.1</span>
                    </li>
                    <li>
                        <span>Test1.2</span>
                    </li>
                </ul>
            </li>
            <li class="category">
                <span class="categoryTitle">Kategorie 2</span>
                <ul class="subCategories">
                    <li>
                        <span>Test2.1</span>
                    </li>
                    <li>
                        <span>Test2.2</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    // on page loaded
    $(document).ready(function() {
        // init editor
        // if editor changes, update preview
        $("#textEditor").on("input", function () {
            $("#preview").html(marked.parse($("#textEditor").val()));
        });
    });
</script>
<script src="notes.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}