{# templates/notes.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notes</h1>

    <table class=\"table\">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <ul>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src=\"https://cdn.jsdelivr.net/npm/marked/marked.min.js\"></script>
{% endblock %}