{# templates/notes.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div id="topBar"></div>
<div id="main">
    <div id="content">
        <div id="editor">
            <textarea id="textEditor"></textarea>
        </div>
        <div id="dragBar"></div>
        <div id="preview"></div>
    </div>
    <div id="sideBar">
        <ul class="categories">
            <li class="category">
                <span class="categoryTitle">Kategorie 1</span>
                <ul class="subCategories">
                    <li>
                        <span>Test1.1</span>
                    </li>
                    <li>
                        <span>Test1.2</span>
                    </li>
                </ul>
            </li>
            <li class="category">
                <span class="categoryTitle">Kategorie 2</span>
                <ul class="subCategories">
                    <li>
                        <span>Test2.1</span>
                    </li>
                    <li>
                        <span>Test2.2</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    // on page loaded
    $(document).ready(function() {
        // init editor
        // if editor changes, update preview
        $("#textEditor").on("input", function () {
            $("#preview").html(marked.parse($("#textEditor").val()));
        });
    });
</script>
<script src="notes.js" type="text/javascript"></script>
{% endblock %}